* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

html,
body {
  background: linear-gradient(212.99deg, #050810 27.28%, #122e47 86.52%);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
