.main {
  display: flex;
  flex-direction: column;
}

/* JUMBOTRON */
.jumbot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
  min-height: 100vh;
  padding: 4rem;
}

.jumbot-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-left: 2rem;
}

.jumbot-left h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 90px;
  text-transform: capitalize;
}

.jumbot-left p {
  font-weight: 500;
  font-size: 16px;
  width: 70%;
  line-height: 36px;
}

.jumbot-left button {
  background: #ecaa4c;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  padding: 13px 48px;

  text-align: center;
  color: #0d1e2f;
  font-weight: 600;

  cursor: pointer;
}

.jumbot-right {
  display: flex;
  justify-content: center;
  width: 90%;
}
/* JUMBOTRON */

/* CRYPTO LIVE */
.cl-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  padding: 4rem;
}

.cl-container h1 {
  text-align: center;
  font-size: 54px;
}

.cl-table {
  width: 100%;
  background: linear-gradient(180deg, rgba(57, 59, 67, 0.6) -69.39%, rgba(255, 255, 255, 0) 168.37%);
  border-radius: 10px;
  color: white;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
}

.cl-table td,
.cl-table th {
  text-align: left;
  padding: 8px;
}

.cl-table th {
  border-bottom: 1px solid #ffffff;
}
/* CRYPTO LIVE */

/* SERVICES */
.serv {
  display: flex;
  flex-direction: column;
  position: relative;
}

.serv h1 {
  padding-left: 11rem;
  font-size: 48px;
}

.serv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  padding: 4rem;
}

.serv-left {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.serv-right {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  padding-left: 3rem;
}

.serv-right li {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
}

.serv-img {
  position: absolute;
  right: -10%;
  bottom: 0;
}
/* SERVICES */

/* PAYMENT */
.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.payment-container h1 {
  text-align: center;
  font-size: 48px;
  max-width: 60%;
  margin-bottom: 2rem;
}

.payment-img {
  position: absolute;
  left: 0;
  bottom: 0;
}
/* PAYMENT */

/* MODAL */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 3rem;
  width: 100%;
}

.modal button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 0.35rem 1.5em 0.35rem 3.5rem;
  gap: 3rem;
  cursor: pointer;
}
/* MODAL */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom, rgba(var(--background-start-rgb), 1), rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
